@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap");

/*------------------------------------
-------------HEADER------------------*/

header img {
  width: 250px;
  height: 100px;
}
.container-header {
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-sign-in {
  position: absolute;
  right: 0;
  margin: 0;
}
.button-sign-in > button {
  font-size: 16px;
}
.button-sign-in :hover {
  background-color: rgb(148, 0, 0);
  color: black;
  cursor: pointer;
  border: white solid;
}

menu {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 10px;
}
.link {
  padding: 10px 0;
  text-decoration: none;
  color: white;
}
.link :hover {
  background-color: rgb(148, 0, 0);
  color: black;
  cursor: pointer;
  border: white solid;
}

::placeholder {
  color: white;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
h2 {
  padding: 5px 40px;
  font-size: 24px;
  border: solid rgb(148, 0, 0) 1.8px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
h2:hover {
  color: rgb(148, 0, 0);
}
/*--------------------------------------
--------------MAIN-----------------*/
body {
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 10%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main img {
  width: 100%;
  height: 65vh;
  /* border: solid red; */
  object-fit: cover;
}
.welcome {
  color: white;
  font-size: 25px;
}
.container {
  width: 100%;
  border-radius: 10px;
  /* border: solid orange; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  border: rgb(148, 0, 0) solid;
  margin-bottom: 100px;
}

input {
  margin-bottom: 20px;
  width: 20vw;
  border-radius: 10px;
  height: 32px;
  background-color: black;
  color: rgb(148, 0, 0);
  border: solid 1.8px rgb(148, 0, 0);
  font-size: 18px;
  text-align: center;
}
.search {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  /* border: yellow solid; */
}

.search .search-input {
  margin-bottom: 0;
}

.search .search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  margin: 0;
  width: 100px;
  height: 32px;
  border: rgb(148, 0, 0) solid 1.8px;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.button > div :hover {
  background-color: rgb(148, 0, 0);
  color: black;
  cursor: pointer;
  border: white solid;
}
.button {
  position: relative;
  margin: 55px 0 15px 0;
  display: flex;
  justify-content: space-between;
}
.hide {
  display: none;
}

.next {
  justify-content: flex-end;
  font-size: 16px;
}
/*--------------------------------------
--------------CARDS-----------------*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  height: 300px;
  width: 200px;
  border-radius: 20px;
  border: solid black 3px;
  margin: 20px 24px;
}
.card:hover {
  background-color: rgb(148, 0, 0);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  color: white;
  font-size: 16px;
  text-align: center;
}
.picture {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border: solid black 3px;
}

.picture:hover {
  border: solid white 3px;
}

.card-image {
  position: relative;
}
.card-image span {
  display: none;
  padding: 12px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 250px;
  min-height: 20px;
  background-color: #eff1f3;
  border: 5px solid black;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  font-style: italic;
  z-index: 1;
}
.card-image span img {
  margin: 0 8px 8px 0;
}
.card-image:hover span {
  display: block;
}

.icon {
  color: rgb(255, 196, 0);
  font-size: 20px;
  margin-bottom: 10px;
}
.icon :hover {
  cursor: pointer;
  filter: drop-shadow(20px 10px 10px black);
}

/*-------------------------------------
----------------CHARACTER--------------*/
.character {
  display: flex;
  width: 50vw;
  justify-content: center;
  /* border: solid green; */
}
.character-pic {
  border: rgb(148, 0, 0) solid 3px;
  border-radius: 10px;
  margin-top: 50px;
}
.character-infos {
  color: white;
}
.character-name {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.character-description {
  margin-left: 100px;
  font-style: italic;
  font-size: 20px;
}
.sentence {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 36px;
  text-decoration: underline rgb(148, 0, 0);
}
.characterincomics {
  margin-top: 75px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  gap: 15px;
}
.characterincomics img {
  border: rgb(148, 0, 0) solid 3px;
  border-radius: 10px;
}

/*----------------------------------------------
--------------------FAVORITES--------------------*/

h3 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-decoration: underline;
  text-decoration-color: rgb(148, 0, 0);
}

/*-----------
---FOOTER-----*/

.footer {
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------- MODAL
-------------------------*/
.modal-root {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: relative;
  background-color: black;
  width: 40%;
  height: 30%;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.modal-title {
  font-size: 30px;
  margin: 20px 0;
}

.close-button-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  row-gap: 20px;
}

.modal-form-input-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.modal-form-input-wrapper2 {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.modal-form input {
  margin-bottom: 0;
  width: 60%;
  /* border-radius: unset; */
}

.modal-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.modal-form-submit {
  margin: 20px 0 0 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(148, 0, 0);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.switch-modal-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.switch-modal-wrapper-link {
  color: rgb(148, 0, 0);
  cursor: pointer;
}

.App {
  position: relative;
}
