@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap");

/*------------------------------------
-------------HEADER------------------*/

header .logo-link {
  width: 25%;
  height: 8%;
}

header .logo-link img {
  width: 100%;
  height: 100%;
}

.container-header {
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-header {
  position: absolute;
  left: 0;
  margin: 0;
  font-size: 16px;
  color: white;
}
.username-header2 {
  position: absolute;
  font-size: 30px;
  color: rgb(148, 0, 0);
  bottom: 10%;
}

.auth-button {
  position: absolute;
  right: 0;
  margin: 0;
  font-size: 16px;
}

.auth-button:hover {
  background-color: rgb(148, 0, 0);
  color: black;
  cursor: pointer;
  border: white solid;
}

.sign-out-wrapper {
  position: absolute;
  right: 0;
  margin: 0;
  font-size: 16px;
}

.nav-wrapper {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.link {
  padding: 10px 0;
  text-decoration: none;
  color: white;
}
.link :hover {
  background-color: rgb(148, 0, 0);
  color: black;
  cursor: pointer;
  border: white solid;
}

::placeholder {
  color: white;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
h2 {
  padding: 5px 40px;
  font-size: 24px;
  border: solid rgb(148, 0, 0) 1.8px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
h2:hover {
  color: rgb(148, 0, 0);
}
/*--------------------------------------
--------------MAIN-----------------*/
body {
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 10%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main img {
  width: 100%;
  height: 65%;
  object-fit: cover;
}
.welcome {
  color: white;
  font-size: 25px;
}
.container {
  width: 100%;
  border-radius: 10px;
  /* border: solid orange; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  border: rgb(148, 0, 0) solid;
  margin-bottom: 100px;
}

input {
  margin-bottom: 20px;
  width: 20vw;
  border-radius: 10px;
  height: 32px;
  background-color: black;
  color: rgb(148, 0, 0);
  border: solid 1.8px rgb(148, 0, 0);
  font-size: 18px;
  text-align: center;
}
.search {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  /* border: yellow solid; */
}

.search .search-input {
  margin-bottom: 0;
}

.search .search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  margin: 0;
  width: 100px;
  height: 32px;
  border: rgb(148, 0, 0) solid 1.8px;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.button > div :hover {
  background-color: rgb(148, 0, 0);
  color: black;
  cursor: pointer;
  border: white solid;
}
.button {
  position: relative;
  margin: 55px 0 15px 0;
  display: flex;
  justify-content: space-between;
}
.hide {
  display: none;
}

.next {
  justify-content: flex-end;
  font-size: 16px;
}
/*--------------------------------------
--------------CARDS-----------------*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  height: 300px;
  width: 200px;
  border-radius: 20px;
  border: solid black 3px;
  margin: 20px 24px;
}
.card:hover {
  background-color: rgb(148, 0, 0);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  color: white;
  font-size: 16px;
  text-align: center;
}
.picture {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border: solid black 3px;
}

.picture:hover {
  border: solid white 3px;
}

.card-image {
  position: relative;
}
.card-image span {
  display: none;
  padding: 12px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 250px;
  min-height: 20px;
  background-color: #eff1f3;
  border: 5px solid black;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  font-style: italic;
  z-index: 1;
}
.card-image span img {
  margin: 0 8px 8px 0;
}
.card-image:hover span {
  display: block;
}

.icon {
  color: rgb(255, 196, 0);
  font-size: 20px;
  margin-bottom: 10px;
}
.icon :hover {
  cursor: pointer;
  filter: drop-shadow(20px 10px 10px black);
}

/*-------------------------------------
----------------CHARACTER--------------*/
.character {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}
.character-pic {
  border: rgb(148, 0, 0) solid 3px;
  border-radius: 10px;
  max-width: 50%;
}
.character-infos {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.character-name {
  text-align: center;
  font-size: 30px;
}
.character-description {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}
.sentence {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 36px;
  text-decoration: underline rgb(148, 0, 0);
}
.characterincomics {
  margin-top: 75px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  gap: 15px;
}
.characterincomics img {
  border: rgb(148, 0, 0) solid 3px;
  border-radius: 10px;
}

/*----------------------------------------------
--------------------FAVORITES--------------------*/

h3 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-color: rgb(148, 0, 0);
}

/*-----------
---FOOTER-----*/

.footer {
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------- MODAL
-------------------------*/
.modal-root {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: relative;
  background-color: black;
  width: 40%;
  height: 30%;
  padding: 10px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: solid 3px rgb(148, 0, 0);
}
.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.modal-title {
  font-size: 30px;
  margin: 20px 0;
}

.close-button-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  row-gap: 20px;
}

/* .modal-form-input-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
} */
.modal-form-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-form input {
  margin-bottom: 0;
  width: 100%;
  /* border-radius: unset; */
}

.modal-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.modal-form-submit {
  margin: 20px 0 0 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(148, 0, 0);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.switch-modal-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.switch-modal-wrapper-link {
  color: rgb(148, 0, 0);
  cursor: pointer;
}

.App {
  position: relative;
}

@media screen and (max-width: 1100px) {
  .nav-wrapper {
    flex-direction: column;
  }

  .auth-button {
    font-size: 13px;
  }

  .next {
    font-size: 13px;
  }

  button {
    font-size: 13px;
    width: 80px;
    height: 27px;
  }
  .search input {
    margin-bottom: 20px;
    width: 30vw;
    font-size: 13px;
    height: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .character {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .character-infos {
    row-gap: 20px;
  }

  .modal {
    width: 50%;
    height: 35%;
    border: 3px solid rgb(148, 0, 0);
    border-radius: 5px;
    font-size: 13px;
  }

  .modal-form input {
    font-size: 11px;
  }

  .modal-form-input-label {
    width: 40%;
    margin: 0;
  }

  .modal-form-input-wrapper2 {
    justify-content: space-between;
    column-gap: 15px;
  }

  .modal-form-input-wrapper {
    column-gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .auth-button {
    font-size: 11px;
  }

  .next {
    font-size: 11px;
  }

  button {
    font-size: 11px;
    width: 70px;
    height: 24px;
  }

  .nav-wrapper .link h2 {
    font-size: 20px;
  }
  .welcome {
    font-size: 15px;
  }
  .search input {
    margin-bottom: 20px;
    width: 20vw;
    font-size: 11px;
    height: 20px;
  }
  .modal-title {
    font-size: 16px;
  }
  .switch-modal-wrapper {
    flex-direction: column;
    gap: 10px;
  }
}
