@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap");

/*------------------------------------
-------------HEADER------------------*/

header img {
  padding: 20px;
  width: 250px;
  height: 100px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid green; */
  background-color: black;
}
menu {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  gap: 200px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: rgb(148, 0, 0) solid;
}

::placeholder {
  color: black;
  text-align: center;
}
h2 {
  font-size: 30px;
  border: solid rgb(148, 0, 0) 5px;
  border-radius: 7px;
  width: 250px;
  text-align: center;
}
/*--------------------------------------
--------------MAIN-----------------*/
body {
  background-color: black;
}
.container {
  width: 75vw;
  border-radius: 10px;
  /* border: solid orange; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  background-color: rgb(70, 70, 70);
  border: rgb(148, 0, 0) solid;
}

input {
  margin-bottom: 20px;
  width: 15vw;
  border-radius: 10px;
  height: 32px;
  width: 400px;
  background-color: grey;
  border: solid 3px rgb(148, 0, 0);
  font-size: 18px;
}
.search {
  margin: 0 auto;
  width: 75vw;
  display: flex;
  justify-content: center;
  border: yellow solid;
}
button {
  width: 100px;
  height: 32px;
  border: rgb(148, 0, 0) solid 3px;
}
.button {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: orange solid;
}
/*--------------------------------------
--------------CARDS-----------------*/
.character-card,
.comics-card {
  border: solid black 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 275px;
  width: 200px;
  border-radius: 20px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.character-card:hover,
.comics-card:hover {
  background-color: rgb(148, 0, 0);
}
.name {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  z-index: 999;
  margin-bottom: 200px;
}
.picture {
  margin-top: 45px;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border: solid black 3px;
}

.test {
  position: absolute;
}
.test span {
  display: none;

  /* -moz-border-radius: 6px; */
  /* -webkit-border-radius: 6px; */
  border-radius: 20px;
  color: black;
  background-color: #eff1f3;
  font-size: 18px;
  font-style: italic;
}
.test span img {
  float: left;
  margin: 0px 8px 8px 0;
}
.test:hover span {
  display: block;
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: 1000;
  width: 250px;

  /* max-width:200px; */
  min-height: 20px;
  border: 5px solid black;
  /* overflow: hidden; */
  padding: 12px;
}
.hide {
  display: none;
}
button {
  width: 100px;
  height: 32px;
  border: rgb(148, 0, 0) solid 3px;
}

/*-------------------------------------
----------------CHARACTER--------------*/
.character {
  display: flex;
  margin: 0 auto;
  width: 75vw;
  justify-content: center;
  border: solid green;
}
.character-pic {
  border: rgb(148, 0, 0) solid 3px;
  border-radius: 10px;
}
.character-infos {
  color: white;
}
.character-name {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.character-description {
  margin-left: 100px;
}
.sentence {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 50px;
}
.characterincomics {
  margin: 0 auto;
  margin-top: 75px;
  display: flex;
  width: 75vw;
  justify-content: center;
  flex-wrap: wrap;

  gap: 15px;
}
.characterincomics img {
  border: rgb(148, 0, 0) solid 3px;
  border-radius: 10px;
}
.favorites {
  margin-top: 100px;
  margin-left: 100px;
}
